name: Build and Deploy

on:
  push:
    branches:
      - feature/**
      - release/**
      - main
      - dev
  # Handles release branch creation without push, avoids duplicate runs by restricting to open events
  pull_request:
    types:
      - opened
    branches:
      - main
env:
  dispatch_workflow: build-and-deploy-trigger.yaml
  dispatch_repo: irieaccelerator/common-workflows
jobs:
  trigger-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Print Job Information
        run: |
          echo "Trigger Build and Deploy workflow ${dispatch_workflow}@${dispatch_repo} for ${org_repo}@${ref} commit: ${sha}" >> $GITHUB_STEP_SUMMARY
        env:
          org_repo: ${{github.repository}}
          ref: ${{github.ref_name}}
          sha: ${{github.sha}}

      - name: Generate a token
        id: generate-token
        uses: actions/create-github-app-token@v1
        with:
          app-id: ${{ secrets.TRIGGER_APP_ID }}
          private-key: ${{ secrets.TRIGGER_APP_KEY }}
          owner: IRIEAccelerator
          repositories: "common-workflows"

      - name: Trigger Build and Deploy
        run: |
          gh workflow run ${dispatch_workflow}} -f repository="${org_repo}" -f config-file=".github/build-config.jsonc" -f ref="${ref}" -f sha="${sha}" --ref "main" --repo "${dispatch_repo}"
        env:
          org_repo: ${{github.repository}}
          ref: ${{github.ref_name}}
          sha: ${{github.sha}}
          GITHUB_TOKEN: ${{ steps.generate-token.outputs.token }}

      - name: Add Workflow Page Location to Job Summary
        run: echo "[Workflow Page](${workflow_url})" >> $GITHUB_STEP_SUMMARY
        env:
          workflow_url: https://github.com/${{env.dispatch_repo}}/actions/workflows/${{env.dispatch_workflow}}