name: TDLIB Build and Deploy

on:
  push:
    branches:
      - feature/**
      - main
      - dev
    # paths:
    #   - .github/workflows/node-build.yaml
    #   - .github/build-config.jsonc
jobs:
  node-build:
    uses: IRIEAccelerator/common-workflows/.github/workflows/node-reuse.yaml@main
    secrets: inherit
    with:
      config-file: .github/build-config.jsonc
      runner: injected-runner
