name: Go
on:
  push:
    branches:
      - feature/**
      - main
      - dev

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: install tdlib
        run: |
          apt-get update
          apt-get upgrade -y
          apt-get install -y make git zlib1g-dev libssl-dev gperf php-cli cmake g++ ninja-build
          git clone --depth=1 https://github.com/tdlib/td.git td
          cd td
          rm -rf build
          mkdir build
          cd build
          cmake -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=/usr/local -G Ninja ..
          cmake --build . --target install
      - uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.21.x'
      - name: Install dependencies
        run: go get .
      - name: Build
        run: go build -v ./...
      - name: Test with the Go CLI
        run: go test
